# Bitcoin OHCLV

We want to save the OHCLV data of Bitcoin up until today.

### Import the relevant modules

In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait

### Set up a web browser (or driver in this case).

In [17]:
driver = webdriver.Chrome()
driver.get("https://coinmarketcap.com/currencies/bitcoin/historical-data/?start=20100311&end=20190410")

### Find the relevant elements.

In [3]:
res = driver.find_elements_by_xpath('//div/table/tbody/tr')

In [4]:
data = []
for _ in range(7):
    data.append([])

In [5]:
from fastprogress import master_bar, progress_bar
from time import sleep

### Begin collecting relevant data.

In [7]:
mb = master_bar(res)

In [8]:
for i in mb:
    idx=0
    for d in progress_bar(i.find_elements_by_xpath(".//td"), parent=mb):
        data[idx].append(d.text)
        idx +=1

In [9]:
driver.close()

### Arrange data in a Dataframe

In [13]:
import pandas as pd

In [18]:
cols = ['date','open','high','low','close','volume','mktcap']

In [35]:
[len(d) for d in data]

[2174, 2174, 2174, 2174, 2174, 2174, 2174]

In [36]:
data_dict = {c:data[i] for i,c in enumerate(cols)}

In [37]:
df = pd.DataFrame(data_dict)

In [38]:
df.head()

,date,open,high,low,close,volume,mktcap
0,"Apr 10, 2019","5,204.11","5,421.65","5,193.38","5,324.55","15,504,590,933","93,918,439,274"
1,"Apr 09, 2019","5,289.92","5,289.92","5,167.42","5,204.96","14,722,104,361","91,799,330,425"
2,"Apr 08, 2019","5,199.84","5,318.84","5,148.21","5,289.77","17,154,113,634","93,286,365,973"
3,"Apr 07, 2019","5,062.79","5,235.19","5,050.41","5,198.90","16,655,416,140","91,674,230,186"
4,"Apr 06, 2019","5,036.79","5,205.82","4,992.22","5,059.82","16,929,795,194","89,212,733,450"

### Save data

In [39]:
df.to_csv('bitcoin_4_april_19_ohclv.csv')